NET "clock" LOC = P57;
NET "reset" LOC = P47;
NET "car_async" LOC = P30;
NET "time_country[3]" LOC = P32;
NET "time_country[2]" LOC = P33;
NET "time_country[1]" LOC = P41;
NET "time_country[0]" LOC = P42;
NET "time_yellow[3]" LOC = P43;
NET "time_yellow[2]" LOC = P44;
NET "time_yellow[1]" LOC = P45;
NET "time_yellow[0]" LOC = P46;

NET "country_red" LOC = P87;
NET "country_yellow" LOC = P88;
NET "country_green" LOC = P90;
NET "highway_red" LOC = P91;
NET "highway_yellow" LOC = P92;
NET "highway_green" LOC = P93;

NET "timer_seg_high[6]" LOC = P68;
NET "timer_seg_high[5]" LOC = P69;
NET "timer_seg_high[4]" LOC = P70;
NET "timer_seg_high[3]" LOC = P71;
NET "timer_seg_high[2]" LOC = P72;
NET "timer_seg_high[1]" LOC = P75;
NET "timer_seg_high[0]" LOC = P76;

NET "timer_seg_low[6]" LOC = P77;
NET "timer_seg_low[5]" LOC = P78;
NET "timer_seg_low[4]" LOC = P79;
NET "timer_seg_low[3]" LOC = P82;
NET "timer_seg_low[2]" LOC = P83;
NET "timer_seg_low[1]" LOC = P84;
NET "timer_seg_low[0]" LOC = P85;

NET "isClearing" LOC = P55;
NET "check" LOC = P58;