//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 30 21:21:08 2023
//! **************************************************************************

SCHEMATIC START;
COMP "time_yellow<3>" LOCATE = SITE "P45" LEVEL 1;
COMP "highway_green" LOCATE = SITE "P93" LEVEL 1;
COMP "country_yellow" LOCATE = SITE "P88" LEVEL 1;
COMP "country_red" LOCATE = SITE "P87" LEVEL 1;
COMP "country_green" LOCATE = SITE "P90" LEVEL 1;
COMP "car_async" LOCATE = SITE "P30" LEVEL 1;
COMP "clock" LOCATE = SITE "P57" LEVEL 1;
COMP "highway_yellow" LOCATE = SITE "P92" LEVEL 1;
COMP "reset" LOCATE = SITE "P47" LEVEL 1;
COMP "time_country<0>" LOCATE = SITE "P31" LEVEL 1;
COMP "time_country<1>" LOCATE = SITE "P32" LEVEL 1;
COMP "time_country<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "time_country<3>" LOCATE = SITE "P41" LEVEL 1;
COMP "highway_red" LOCATE = SITE "P91" LEVEL 1;
COMP "time_yellow<0>" LOCATE = SITE "P42" LEVEL 1;
COMP "time_yellow<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "time_yellow<2>" LOCATE = SITE "P44" LEVEL 1;
SCHEMATIC END;

